@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to WestCoast Education</h1>
    <h4>Steering your course on the Coast on <span style ="color:dark blue;font-weight:bold">Your</span> schedule.</h4>
</div>